
ne_10m_admin_1_states_provinces/ne_10m_admin_1_states_provinces.cpg
ne_10m_admin_1_states_provinces/ne_10m_admin_1_states_provinces.dbf
ne_10m_admin_1_states_provinces/ne_10m_admin_1_states_provinces.prj
ne_10m_admin_1_states_provinces/ne_10m_admin_1_states_provinces.README.html
ne_10m_admin_1_states_provinces/ne_10m_admin_1_states_provinces.shp
ne_10m_admin_1_states_provinces/ne_10m_admin_1_states_provinces.shx
ne_10m_admin_1_states_provinces/ne_10m_admin_1_states_provinces.VERSION.txt
japan_ver84/japan_ver84.dbf
japan_ver84/japan_ver84.prj
japan_ver84/japan_ver84.sbn
japan_ver84/japan_ver84.sbx
japan_ver84/japan_ver84.shp
japan_ver84/japan_ver84.shp.xml
japan_ver84/japan_ver84.shx
japan_ver84/Readme.txt
N03-20220101_04_GML/KS-META-N03-22_04_220101.xml
N03-20220101_04_GML/N03-22_04_220101.dbf
N03-20220101_04_GML/N03-22_04_220101.geojson
N03-20220101_04_GML/N03-22_04_220101.prj
N03-20220101_04_GML/N03-22_04_220101.shp
N03-20220101_04_GML/N03-22_04_220101.shx
N03-20220101_04_GML/N03-22_04_220101.xml
.DS_Store
